{% extends "base.html" %}

{% block contenido %}
<h2>Acerca de mí</h2>
<p>En el futuro quiero ser doctor. Me encanta ir a la iglesia, editar y grabar documentales, escribir canciones y diseñar programas.</p>
<p>Mi nombre es Jacobo Hernandez Victor Manuel y yo hise esta pagina con muncho cariño para ti, si para ti</p>



  <div class="row mb-3">
        <div class="col-md-4 mb-3">
           <img src="{{ url_for('static', filename='imagenes/yo.jpg') }}" class="w-200 fixed-media mb-2">
            <p>imagen mia.</p>
        </div>
    </div>
</div>



 {% endblock %}